<link rel="stylesheet" type="text/css" href="/styles/style.css">

{{#each artists}}
  <div class="artist">
    <h3>{{name}}</h3>
    <img src="{{images.[0].url}}" alt="{{name}}">
    <a href="/albums/{{id}}">View Albums</a>
  </div>
{{/each}}


{{#each albums}}
  <div class="album">
    <h3>{{name}}</h3>
    <img src="{{images.[0].url}}" alt="{{name}}"><br>
    <a href="/tracks/{{id}}">View Tracks</a>
  </div>
{{/each}}